<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Rafael Mateus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Missa Fácil - Crie seus slides para a missa com poucos cliques"/>
    <meta property="og:url" content="https://www.missafacil.com.br"/>
    <meta property="og:description" content="Esse site monta os slides para uma celebração de missa católica e salva no seu Google Drive de acordo com a seleção de músicas.">
    <meta property="og:image" content="https://www.missafacil.com.br/assets/img/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="pt_BR"/>
    <meta name="description" content="Esse site monta os slides para uma celebração de missa católica e salva no seu Google Drive de acordo com a seleção de músicas.">
    <title>Missa Fácil | {{ .title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="px-4 py-5 my-5 text-center">
        <br><br>
        <h1 class="display-5 fw-bold">Apresentação gerada com sucesso 🎉</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            O arquivo foi gerado e salvo no seu Google Drive.
            <br>
            Clique no botão a baixo para acessar o arquivo.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="https://drive.google.com" target="_blank">
              <i class="fab fa-google-drive"></i>
              Acessar o arquivo
            </a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="/">
              Nova apresentação
            </a>
          </div>
        </div>
        <br>
      </div>
      <div class="bg-dark text-secondary px-4 py-5">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 px-4 py-5 text-center">
            <p class="fs-5 mb-4">
              Esse projeto foi criado voluntáriamente e você pode usar
              <br><b class="text-white">SEMPRE GRATUITAMENTE</b>
              <br><br>
              Mas, se você quiser colaborar com o projeto pode fazer uma pequena oferta via pix
              <br>
              <b class="text-white">Quanto seu coração quiser 💙</b>
            </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <h5 class="fw-bold text-white">Chave de e-mail para pix:</h5>
            <h6 class="text-white">rafaelmateus.dev@gmail.com</h6>
            <img src="/assets/img/pix.png" width="260">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 py-5 text-center">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/It93OEojips" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-white">
              Siga <a href="https://www.instagram.com/gospelnopiano/">@gospelnopiano</a> no instagram 🙏
            </p0>
          </div>
        </din>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ae2c881fce.js" crossorigin="anonymous"></script>
  </body>
</html>
