<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Rafael Mateus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Missa Fácil - Crie seus slides para a missa com poucos cliques"/>
    <meta property="og:url" content="https://www.missafacil.com.br"/>
    <meta property="og:description" content="Esse site monta os slides para uma celebração de missa católica e salva no seu Google Drive de acordo com a seleção de músicas.">
    <meta property="og:image" content="https://www.missafacil.com.br/assets/img/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="pt_BR"/>
    <meta name="description" content="Esse site monta os slides para uma celebração de missa católica e salva no seu Google Drive de acordo com a seleção de músicas.">
    <title>Missa Fácil | {{ .title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="px-4 py-5 my-5">
      <a class="btn btn-primary" href="/"><i class="fas fa-fast-backward"></i> voltar</a>
        <h1 class="display-5 fw-bold text-center">Central de ajuda 🤔</h1>
        <br>
        <div class="col-lg-6 mx-auto text-center">
          <p class="lead mb-4">
            Olá, aqui você terá a explicação completa de como o site funciona para gerar os slides para missa.<br>
            <b>Você precisará executar três passos:</b>
          </p>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4">
            <h3>Passo 1 - Fazer login com o Google</h3>
            <ol>
              <li>Clique no botão "Continuar com Google"</li>
              <li>Faça login com sua conta do Google ou</li>
              <li>Escolha uma conta que já esteja autenticado</li>
            </ol>
            <img src="/assets/img/step-1a.png"><br>
            <img src="/assets/img/step-1c.png">
          </div>
          <div class="col-md-4">
            <h3>Passo 2 - Título e Oração Eucarística</h3>
            <ol>
              <li>Digíte o título que deseja salvar sua apresentação</li>
              <li>E caso queira adicionar a oração eucarística, selecione-a</li>
            </ol>
            <img src="/assets/img/step-2.png"><br>
          </div>
          <div class="col-md-4">
            <h3>Passo 3 - Escolher as músicas</h3>
            <ol>
              <li>Escolher as músicas da missa</li>
              <li>E clicar em "Criar apresentação"</li>
              <li>Aguarda finalizar a criação e entre no seu Google Drive para acessar o arquivo</li>
            </ol>
            <img src="/assets/img/step-3.png"><br>
          </div>
        </div>
        <div class="col-lg-6 mx-auto text-center">
          <p class="lead mb-4">
            Entendi,<br>
            <b><a href="/">deixa eu fazer...</a></b>
          </p>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ae2c881fce.js" crossorigin="anonymous"></script>
  </body>
</html>
